.container{
    background-color: rgb(41, 134, 233);
    min-height: 100%;
  display: flex;
  flex-direction: column;
}
.load-container{
    padding-left: 15px;
    margin-top: 30px;
    background-color: rgb(240, 207, 123);
    padding-top:50px;
}

.search-form{
    margin-left: 15px;
margin-top:50px;
padding-top:30px;

}

.btn-search{
    margin-left: 15px;
    background-color:rgb(240, 207, 123);
   
}
.load-more{
    background-color: dodgerblue;
}

.search-form {
    display: flex;
    text-align: center;
  
    padding: 15px;
    margin: 10px;
    width: 100%;
    justify-content: center;
   
    margin: 0 auto;
  }
  .gallery{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
  
