.container{
    background-color: rgb(41, 134, 233);
}
.load-container{
    padding-left: 15px;
    margin-top: 30px;
    background-color: rgb(240, 207, 123);
    padding-top:50px;
}

.search-form{
    margin-left: 15px;
margin-top:50px;
padding-top:30px;

}

.btn-search{
    margin-left: 15px;
    background-color:rgb(240, 207, 123);
   
}
.load-more{
    background-color: dodgerblue;
}
